/* ---------------Первый уровень ---------------*/
.block {
	width: 600px;
	height: 600px;
	background-color: #0d5825;
	margin: 0 auto;
	position: relative;
}
.quote {
	font-size: 25px;
	text-align: center;
	color: #fff;
}
.card img {
	width: 150px;
	margin: 110px 0 0 0;
}
.first-card {
	position: relative;
	left: 160px;
	transform: rotate(-25deg);
	transition-duration: 0.5s;
}
.second-card {
	position: relative;
	left: 60px;
	top: 10px;
	transform: rotate(-5deg);
	transition-duration: 0.5s;
}
.third-card {
	position: relative;
	right: 55px;
	top: 30px;
	transform: rotate(10deg);
	transition-duration: 0.5s;
}
.first-card:hover {
	transform: translateY(-15px) rotate(-25deg);
}
.second-card:hover {
	transform: translateY(-15px) rotate(-5deg);
}
.third-card:hover {
	transform: translateY(-15px) rotate(10deg);
}

/* ---------------Второй уровень ---------------*/
.block-2 {
	position: relative;
	margin: 100px auto;
}
.red {
	position: relative;
	left: -60px;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	background-color: rgb(240, 94, 94);
}
.blue {
	position: relative;
	top: -40px;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	background-color: rgb(144, 167, 241);
	z-index: 1;
}
.green {
	position: relative;
	top: -80px;
	left: 60px;
	margin: 0 auto;
	width: 100px;
	height: 100px;
	background-color: rgb(81, 250, 165);
}

/* ---------------Третий уровень ---------------*/

.menu-here {
	margin: 0 0 200px 10px;
	text-transform: uppercase;
	background-color: rgb(107, 105, 105);
	height: 300px;
	width: 30px;
	color: #fff;
	position: relative;
}
.menu-here p {
	transform: rotate(90deg);
	position: relative;
	top: 42%;
}

.list {
	list-style: none;
	text-transform: uppercase;
	background-color: rgb(107, 105, 105);
	width: 200px;
	height: 290px;
	padding-top: 10px;
	top: -16px;
	position: absolute;
	display: none;
	transition: width 0.3s, opacity 0.4s;
}
.list a {
	text-decoration: none;
}
.item {
	margin-bottom: 10px;
	color: #fff;
}
.list li:before {
	content: "";
	width: 10px;
	height: 10px;
	border: 1px solid #000;
	background-color: rgb(201, 155, 6);
	display: inline-block;
	margin: 0 10px 0 0;
	transform: rotate(45deg);
}
.list :hover {
	color: rgb(201, 155, 6);
	transition-duration: 0.5s;
}
.menu-here:hover .list {
	display: block;
}

/* ---------------Четвертый уровень ---------------*/
.animation {
	width: 400px;
	height: 400px;
	margin: 10px auto;
}
.animation-item {
	width: 100px;
	height: 100px;
	background-color: red;
	position: relative;
	animation-name: example;
	animation-iteration-count: infinite;
	animation-duration: 4s;
}

@keyframes example {
	0% {
		background-color: rgb(255, 0, 0);
		left: 0px;
		top: 0px;
	}
	25% {
		background-color: rgb(0, 0, 255);
		left: 0px;
		top: 200px;
	}
	50% {
		background-color: rgb(0, 255, 0);
		left: 200px;
		top: 200px;
	}
	75% {
		background-color: rgb(255, 255, 0);
		left: 200px;
		top: 0px;
	}
	100% {
		background-color: rgb(255, 0, 0);
		left: 0px;
		top: 0px;
	}
}
